@{
    ViewData["Title"] = "Home Page";
}

    <div class="card-header">
        <h1>Welcome To OSS</h1>
    </div>
        <div class="max-width" style="background-image: url('http://www.oss.com.bd/wp-content/uploads/2014/09/main_slider1.jpg');">

            <p>
                Having a customer base in Bangladesh and different countries from South Asia, South-East Asia, Middle-East, Europe and North America region, OSS is emerging as one of the fastest growing software company in Bangladesh. Organizations need to work smart and improve efficiency. OSS creates & supports smart systems management products-helping our customers solve every day IT challenges faster and easier. That means our customers’ teams will be more productive and their core critical systems will perform better. Since 2012, a number of customers worldwide have partnered with OSS to improve their IT efficiency. In fact, the top companies in several industries depend on OSS to help them manage their critical IT systems.
                mark
                Optimum Solution and Services is an information solution developer that provides services & solutions and provides support to the industries ranging from IT to Agriculture, from Telecommunications to Manufacturing, from RMG to Health – OSS is working with all kinds of business process automation as well as business intelligence. Our strength is the blending of young, energetic and skilled human resources with adaptation of appropriate and sustainable state-of-the-art technology. We have been very successful in achieving the trust and reliance of our esteemed clients both in the domestic as well as overseas market. Our commitment to offer only quality services have led us to secure prominent clientele in both global and local market.

                OSS works as an information solution provider for all kinds of customer requirements to increase their business benefit by our technology. You’ll be satisfied with the solution and visibility of development process and we hope you’ll be back more than once to us for new opportunities to grow together.
                OSS officially operates since 2009 when it was established as a company by a group of well-experienced professionals. Today, we are proud to have a strong team of professionals that satisfy the highest standards of the modern information solutions.
            </p>
        </div>
<div class="card-footer">
    <p><a href="http://www.oss.com.bd/">Learn more about OSS</a></p>

    <p>To work for societal development through technology initiatives, capacity building and resource optimization</p>
    <p><a href="http://www.oss.com.bd/products-solutions/">Our Products</a></p>
    <a href="http://www.oss.com.bd/"><img src="http://www.oss.com.bd/wp-content/uploads/2017/03/logo.png" alt="W3Schools.com"></a> 
</div>   